.footer {
    padding: 51px 0;
    background-color: var(--cs-text-2);

    &__container {
        @include flex-all-sb;
    }

    .nav {
        ul {
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            list-style: none;
            @include flex-all-sb;
            gap: 41px;

            li {
                a {
                    font-weight: 400;
                    font-size: 22px;
                    line-height: 100%;
                    color: #F7F7F7;
                    transition: all ease-in-out .4s;

                    &:hover {
                        background: linear-gradient(90deg, #8F4DED 0%, #6D43E1 100.02%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }
                }
            }
        }
    }

    .copyright {
        font-weight: 400;
        font-size: 22px;
        line-height: 100%;
        color: #F7F7F7;
    }
}

.scroll-top {
    width: 98px;
    height: 98px;
    background: linear-gradient(90deg, rgba(143, 77, 237, 0.28) 0%, rgba(109, 67, 225, 0.28) 100.02%);
    backdrop-filter: blur(12px);
    border-radius: 16px;
    position: fixed;
    z-index: 11;
    bottom: 125px;
    right: 60px;
    @include flex-all-center;
    cursor: pointer;
    transition: all ease-in-out .4s;

    .icon {
        transform: rotate(180deg);
    }

    &:hover {
        background: linear-gradient(90deg, #6B2AC8 0%, #5127C6 100.02%);
    }
}