.btn-fixed {
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--cs-white);
    border-radius: 4px 4px 0px 0px;
    transform: rotate(-90deg);
    background-color: rgba(255,255,255, .2);
    padding: 22px 42px;
    position: fixed;
    z-index: 111;
    right: -110px;
    top: 550px;
    transition: all ease-in-out .4s;

    &:hover {
        background-color: rgba(255,255,255, .5);
    }
}
.main__large {
    position: relative;
}
.main-screen {
    margin-top: 115px;
    background: url('../../images/icon/bg-circles.svg') no-repeat right/1850px, linear-gradient(90deg, #6B2AC8 0%, #5127C6 100.02%);
    padding-top: 97px;
    padding-bottom: 157px;

    &__container {
        @include flex-all-sb;
        margin-bottom: 60px;
    }

    .title {
        font-weight: 700;
        font-size: 87px;
        line-height: 112%;
        color: var(--cs-text);
        margin-top: 0;
        margin-bottom: 0;
        max-width: 810px;

        span {
            color: var(--cs-white);
        }
    }

    .text {
        font-weight: 400;
        font-size: 30px;
        line-height: 42px;
        margin-top: 30px;
        margin-bottom: 50px;
        color: var(--cs-white);
        max-width: 582px;
    }

    .btn-main {
        @include btn-main;
        max-width: 300px;
        font-weight: 700;
        font-size: 22px;
        border: 1px solid transparent;
        display: block;
        text-align: center;

        &--black {
            color: var(--cs-white);
            background: var(--cs-text-2);
    
            &:hover {
                background: var(--cs-white);
                color: var(--cs-text);
                border: 1px solid var(--cs-white);
            }
        }
    }

    &__left {
        max-width: 810px;
        width: 100%;
    }

    &__right {
        max-width: 1200px;
        width: 100%;

        .image {
            width: 100%;
            max-height: 680px;
            object-fit: contain;
        }
    }

    .main-slider {
        &__controls {
            position: static;

            .swiper-pagination-bullet {
                border-radius: 20px;
                width: 60px;
                height: 5px;
                background: rgba(255,255,255, .5);
                opacity: 1;
                position: relative;

                &-active {
                    &::after {
                        content: "";
                        position: absolute;
                        background: var(--cs-white);
                        border-radius: 30px 0px 0px 30px;
                        width: 44px;
                        height: 5px;
                        left: 0;
                    }
                }
            }
        }
    }
}

.main-info {
    position: absolute;
    width: 100%;
    top: 1000px;
    z-index: 1;
    
    &__container {
        background: var(--cs-white);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 16px;
        padding: 75px 158px;
        @include flex-all-sb;

        .item {
            @include flex-v-center;
            flex-direction: column;

            &__accent {
                font-family: 'Gotham', sans-serif;
                font-weight: 700;
                font-size: 50px;
                line-height: 112%;
                background: linear-gradient(90deg, #8F4DED 0%, #6D43E1 100.02%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            &__text {
                font-weight: 400;
                font-size: 30px;
                line-height: 34px;
                color: var(--cs-text);
            }
        }
    }
}

.available {
    padding: 200px 0;

    &__container {
        @include flex-all-sb;
    }

    &__content {
        max-width: 720px;
    }

    .title {
        @include title;
        margin-bottom: 28px;
    }

    .text {
        font-weight: 400;
        font-size: 30px;
        line-height: 43px;
        color: var(--cs-text);
        margin-top: 0;
        margin-bottom: 28px;

        .accent {
            color: var(--cs-violet-main);
        }
    }

    .list-check {
        margin-bottom: 50px;

        &__item {
            font-weight: 400;
            font-size: 30px;
            line-height: 50px;
            color: var(--cs-text);
            padding-left: 36px;
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
            }

            &::before {
                width: 26px;
                height: 26px;
                border-radius: 50px;
                border: 2px solid var(--cs-violet-main);
                left: 0;
                top: calc(50% - 13px);
            }

            &::after {
                background-image: url('../../images/icon/check-arrow.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 12px;
                height: 12px;
                left: 7px;
                top: calc(50% - 6px);
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    .btn-main {
        @include btn-main;
        max-width: 300px;
        display: block;
        text-align: center;
    }
}

.accounts {
    padding: 120px 0;
    background-color: var(--cs-bg-light);

    .title {
        @include title;
        margin-bottom: 80px;
        text-align: center;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .account {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        background-color: var(--cs-white);
        padding-bottom: 60px;
        max-width: 460px;
        outline: 4px solid transparent;
        transition: all ease-in-out .4s;

        &__header {
            border-radius: 12px 12px 0px 0px;
        }

        &__label {
            border-radius: 0px 0px 6px 6px;
            background-color: var(--cs-bg-lighter);
            max-width: 265px;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            color: var(--cs-text-2);
            padding: 18px 0;
        }

        &__name {
            font-weight: 500;
            font-size: 40px;
            line-height: 100%;
            color: var(--cs-text-2);
            text-align: center;
            margin-top: 41px;
            margin-bottom: 0;
            padding-bottom: 41px;
            transition: all ease-in-out .4s;
        }

        &__list {
            margin-top: 44px;
            margin-bottom: 38px;

            &-item {
                @include flex-all-sb;
                padding-left: 65px;
                padding-right: 34px;
                padding-top: 16px;
                padding-bottom: 16px;
                
                .name {
                    position: relative;
                    padding-left: 20px;

                    &::before {
                        content: "";
                        position: absolute;
                        background-image: url('../../images/icon/check-arrow.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        width: 14px;
                        height: 10px;
                        left: 0;
                        top: calc(50% - 5px);
                    }
                }
                .name,
                .value {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 100%;
                    color: var(--cs-text);
                }

                .value {
                    font-family: 'Gotham', sans-serif;
                    font-weight: 600;
                }

                &:nth-child(even) {
                    background-color: rgba(207,212,233, .16);
                }
            }
        }

        .btn-main {
            @include btn-main;
            display: block;
            max-width: 375px;
            text-align: center;
            padding: 25px;
            margin: 0 auto;

            &:hover {
                background: linear-gradient(90deg, #6B2AC8 0%, #5127C6 100.02%);
            }
        }

        &:hover {
            filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
            outline: 4px solid var(--cs-violet-main);

            .account__name {
                background: linear-gradient(90deg, #8F4DED 0%, #6D43E1 100.02%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &.standard {
            .account__header {
                background-color: var(--cs-violet-lighter);
            }
        }
        &.swap {
            .account__header {
                background-color: var(--cs-violet-light);
            }
        }
        &.zero {
            .account__header {
                background-color: var(--cs-violet-bright);
            }
        }
        &.pro {
            .account__header {
                background-color: var(--cs-violet-main);
            }
        }
    }
}
.platforms {
    padding: 120px 0;
    background: url('../../images/icon/bg-circles.svg') no-repeat center/contain,linear-gradient(90deg, #8F4DED 0%, #6D43E1 100.02%);

    .title {
        @include title;
        margin-top: 0;
        margin-bottom: 67px;
        color: var(--cs-white);
        text-align: center;
    }

    &__container {
        background: linear-gradient(90deg, #6B2AC8 0%, #5127C6 100.02%);
        opacity: .8;
        border-radius: 16px;
        padding: 40px 50px;
        @include flex-all-sb;
        margin-bottom: 75px;
    }

    &__content {
        max-width: 792px;
    }
    
    &__title {
        @include title;
        font-size: 50px;
        color: var(--cs-white);
    }

    &__text {
        font-weight: 400;
        font-size: 30px;
        line-height: 43px;
        color: var(--cs-white);
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .list {
        margin-bottom: 50px;

        &__item {
            font-weight: 400;
            font-size: 22px;
            line-height: 42px;
            color: var(--cs-white);
            position: relative;
            padding-left: 45px;
            
            &::before,
            &::after {
                content: "";
                position: absolute;
            }

            &::before {
                width: 26px;
                height: 26px;
                border-radius: 50%;
                border: 2px solid var(--cs-white);
                left: 0;
                top: calc(50% - 13px);
            }

            &::after {
                width: 12px;
                height: 8px;
                background-image: url('../../images/icon/check-arrow-white.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                left: 7px;
                top: calc(50% - 4px);
            }
        }
    }

    &__images {
        max-width: 904px;
    }

    .btn-main {
        @include btn-main;
        display: block;
        max-width: 300px;
        text-align: center;

        &--white {
            color: var(--cs-text-2);
            background: var(--cs-white);
    
            &:hover {
                background: var(--cs-text-2);
                color: var(--cs-white);
                border: 1px solid var(--cs-text-2);
            }
        }
    }

    .subtitle {
        @include title;
        margin-bottom: 37px;
        color: var(--cs-white);
        font-size: 50px;
        text-align: center;
    }

    &__downloads {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        max-width: 1579px;
        margin: 0 auto;

        .device {
            background: var(--cs-text-2);
            border-radius: 4px;
            padding: 37px 40px;
            @include flex-v-center;
            max-width: 370px;

            &__icon {
                .icon {
                    width: 60px;
                    height: 60px;
                    display: block;
                    fill: #8F4DED;
                    transition: all ease-in-out .4s;
                }
            }

            &__info {
                margin-left: 23px;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            &__title,
            &__name {
                font-size: 22px;
                line-height: 24px;
                color: var(--cs-white);
                font-feature-settings: 'liga' off;
            }

            &__title {
                font-weight: 400;
            }

            &__name {
                font-weight: 700;
            }

            &:hover {
                .device__icon {
                    .icon {
                        fill: var(--cs-white);
                    }
                }
            }
        }
    }
}

.demo {
    padding-top: 72px;
    padding-bottom: 80px;
    background: url('../../images/home/demo/four-phones.png') no-repeat right/auto, rgba(242, 246, 250, 0.5);

    .title {
        @include title;
    }

    .text {
        font-weight: 400;
        font-size: 30px;
        line-height: 43px;
        color: var(--cs-text);
        margin-top: 27px;
        margin-bottom: 52px;
    }

    .btn-main {
        @include btn-main;
        max-width: 300px;
        display: block;
        text-align: center;
        padding: 25px;
    }
}

.steps {
    padding-top: 120px;
    padding-bottom: 125px;

    .title {
        @include title;
        text-align: center;
        margin-bottom: 77px;
    }

    &__container {
        max-width: 1450px;
        margin: 0 auto;
        @include flex-all-sb;
    }

    .step {
        @include flex-v-center;
        flex-direction: column;

        &__text {
            text-align: center;
        }

        &__number {
            font-family: 'Gotham', sans-serif;
            background: linear-gradient(90deg, #8F4DED 0%, #6D43E1 100.02%);
            width: 129px;
            height: 129px;
            border-radius: 50%;
            font-weight: 700;
            font-size: 58px;
            line-height: 112%;
            color: var(--cs-white);
            @include flex-all-center;
        }

        &__name {
            font-weight: 700;
            font-size: 30px;
            line-height: 112%;
            color: var(--cs-text);
            margin-top: 30px;
            margin-bottom: 20px;
        }

        &__descript {
            font-weight: 400;
            font-size: 24px;
            line-height: 34px;
            color: var(--cs-text);
            margin-top: 0;
            margin-bottom: 0;
            max-width: 240px;
            text-align: center;
        }

        &--dashed {
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 550px;
                height: 3px;
                background-image: url('../../images/icon/line.svg');
                background-position: center;
                background-size: auto;
                top: 65px;
                z-index: -1;
            }

            &::before {
                left: -450px;
            }

            &::after {
                right: -450px;
            }
        }
    }
}

.tips {
    padding: 125px 0;
    background-image: url('../../images/home/tips/tips-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__container {
        display: flex;
        justify-content: space-between;
        max-width: 1830px;
        margin: 0 auto;
    }

    .title {
        @include title;

        span {
            color: #8F4DED;
        }
    }

    .tricks {
        max-width: 822px;
        width: 100%;
        margin-right: 168px;

        &__item {
            background: var(--cs-white);
            border-radius: 4px;    
        }

        &__item:not(:last-child) {
            margin-bottom: 25px;
        }

        &__question {
            padding-top: 33px;
            padding-bottom: 33px;
            padding-left: 32px;
            padding-right: 50px;
            cursor: pointer;
        }

        &__title {
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 400;
            font-size: 24px;
            line-height: 46px;
            color: var(--cs-text);
            position: relative;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 2px;
                border-radius: 10px;
                background-color: var(--cs-text);
                top: calc(50% - 4px);
                right: 0;
                transition: all ease-out .4s;
            }
            
            &::before {
                transform: rotate(90deg);
            }
        }

        &__answer {
            padding-left: 33px;
            padding-right: 50px;
            padding-bottom: 0;
            max-width: 676px;
            height: 0;
            overflow: hidden;
            padding-bottom: 0;
            transition: all ease-in-out .4s;
        }

        &__answer {
            font-weight: 400;
            font-size: 22px;
            line-height: 24px;
            color: var(--cs-text);
            margin-top: 0;
            margin-bottom: 0;
        }

        &__item.tricks__item--active {
            .tricks__question {
                .tricks__title {
                    &::before {
                        transform: rotate(0);
                    }
        
                    &::after {
                        opacity: 0;
                    }
                }
            }
            .tricks__answer {
                padding-bottom: 50px;
                height: auto;
                overflow: visible;
            }
        }
    }
}