<footer class="footer">
    <div class="wrapper">
        <div class="footer__container">
            <nav class="nav">
                <ul>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Cookie Policy</a>
                    </li>
                    <li>
                        <a href="#">KYC Policy</a>
                    </li>
                    <li>
                        <a href="#">Risk Warning</a>
                    </li>
                    <li>
                        <a href="#">Terms of Use </a>
                    </li>
                    <li>
                        <a href="#">Complaints Handling Procedure</a>
                    </li>
                </ul>
            </nav>
            <strong class="copyright">
                © 2020-2022 BelleoFX | All Rights Reserved
            </strong>
        </div>
    </div>
</footer>