<header class="header">
	<div class="wrapper">
		<div class="header__container">
			<div class="header__left">
				<a href="/" class="logo-link">
					<img src="../images/icon/logo.svg" alt="logo: BelleoFx icon" class="logo">
				</a>
			</div>
			<nav class="nav">
				<ul class="nav menu mod-list"> 
					<li class="parent"><a href="/company">Company</a>
						<ul>
							<li>
								<a href="#">About BelleoFX</a>
							</li>
							<li>
								<a href="#">Our regulations</a>
							</li>
							<li>
								<a href="#">Account Types</a>
							</li>
							<li>
								<a href="#">Legal Documents</a>
							</li>
							<li>
								<a href="#">Careers</a>
							</li>
							<li>
								<a href="#">FAQs</a>
							</li>
							<li>
								<a href="#">Contacts</a>
							</li>
						</ul>
					</li>
					<li class="parent"><a href="/markets">Markets</a>
						<ul>
							<li>
								<a href="#">Forex</a>
							</li>
							<li>
								<a href="#">Stocks</a>
							</li>
							<li>
								<a href="#">Cryptocurrencies</a>
							</li>
							<li>
								<a href="#">Indices</a>
							</li>
							<li>
								<a href="#">Commodities</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="/trading-platform">Trading Platform</a>
					</li>
					<li>
						<a href="/funding">Funding</a>
					</li>
					<li>
						<a href="/partnership">Parttnership</a>
					</li>
				</ul>
			</nav>
			<div class="header__right">
				<button type="button" class="btn-reset btn-transparent">
					Login
				</button>
				<button type="button" class="btn-reset btn-main">
					Register 🔥
				</button>
				<div class="languages">
					<ul>
						<li>
							<a href="/en">
								<img src="../images/icon/usa.svg" alt="language: USA">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>