<button type="button" class="btn-reset btn-fixed">
    Quick Enquuiry Now
</button>
<div class="main__large">
    <div class="swiper main-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="main-screen">
                    <div class="wrapper">
                        <div class="main-screen__container">
                            <div class="main-screen__left">
                                <h1 class="title">
                                    Diversify your investment 
                                    <span>portfolio</span>
                                </h1>
                                <p class="text">
                                    Buy stocks of the world's biggest companies, 
                                    invest in cryptocurrencies and many more!
                                </p>
                                <a href="#" class="btn-reset btn-main btn-main--black">
                                    Join Now 🔥
                                </a>
                            </div>
                            <div class="main-screen__right">
                                <picture>
                                  <source srcset="images/home/main-screen/main-slide-1.avif" type="image/avif">
                                  <source srcset="images/home/main-screen/main-slide-1.webp" type="image/webp">
                                  <img loading="lazy" src="images/home/main-screen/main-slide-1.png" class="image" width="" height="" alt="Diversify your investment">
                                </picture>
                            </div>
                        </div>
                        <div class="main-slider__controls swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main-screen">
                    <div class="wrapper">
                        <div class="main-screen__container">
                            <div class="main-screen__left">
                                <h1 class="title">
                                    Diversify your investment 
                                    <span>portfolio</span>
                                </h1>
                                <p class="text">
                                    Buy stocks of the world's biggest companies, 
                                    invest in cryptocurrencies and many more!
                                </p>
                                <a href="#" class="btn-reset btn-main btn-main--black">
                                    Join Now 🔥
                                </a>
                            </div>
                            <div class="main-screen__right">
                                <picture>
                                  <source srcset="images/home/main-screen/main-slide-2.avif" type="image/avif">
                                  <source srcset="images/home/main-screen/main-slide-2.webp" type="image/webp">
                                  <img loading="lazy" src="images/home/main-screen/main-slide-2.png" class="image" width="" height="" alt="Diversify your investment ">
                                </picture>
                            </div>
                        </div>
                        <div class="main-slider__controls swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-info">
        <div class="wrapper">
            <div class="main-info__container">
                <div class="item">
                    <div class="item__accent">
                        1:500
                    </div>
                    <div class="item__text">
                        Leverage
                    </div>
                </div>
                <div class="item">
                    <div class="item__accent">
                        250+
                    </div>
                    <div class="item__text">
                        Trading Instruments
                    </div>
                </div>
                <div class="item">
                    <div class="item__accent">
                        0$
                    </div>
                    <div class="item__text">
                        Deposit Fees
                    </div>
                </div>
                <div class="item">
                    <div class="item__accent">
                        <img src="images/icon/manager.svg" alt="icon: Relationship Manager">
                    </div>
                    <div class="item__text">
                        Relationship Manager
                    </div>
                </div>
                <div class="item">
                    <div class="item__accent">
                        <img src="images/icon/licensed.svg" alt="icon: Licensed & Regulated">
                    </div>
                    <div class="item__text">
                        Licensed & Regulated
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section available">
        <div class="wrapper">
            <div class="available__container">
                <div class="available__images">
                    <picture>
                      <source srcset="images/home/available/large-phone-labels.avif" type="image/avif">
                      <source srcset="images/home/available/large-phone-labels.webp" type="image/webp">
                      <img loading="lazy" src="images/home/available/large-phone-labels.png" class="image" width="" height="" alt="Stay Mobile">
                    </picture>
                </div>
                <div class="available__content">
                    <h2 class="title">
                        Stay Mobile
                    </h2>
                    <p class="text">
                        Financial markets are easy. 
                        You can always quickly open or 
                        close your trading orders using 
                        your mobile phone.
                    </p>
                    <p class="text">
                        Available on <span class="accent">iOS</span> and <span class="accent">Android</span>
                    </p>
                    <ul class="list-reset list-check">
                        <li class="list-check__item">
                            Trade 280+ instruments
                        </li>
                        <li class="list-check__item">
                            Multi-asset classes
                        </li>
                        <li class="list-check__item">
                            Variety of payment methods
                        </li>
                        <li class="list-check__item">
                            Chat with support
                        </li>
                    </ul>
                    <a href="#" class="btn-reset btn-main">
                        Join Now 🔥
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="section accounts">
    <h2 class="title">
        Account Types
    </h2>
    <div class="overflow-wrapper">
        <div class="wrapper">
            <div class="accounts__container">
                <div class="account standard">
                    <div class="account__header">
                        <div class="account__label">
                            Account
                        </div>
                        <h3 class="account__name">
                            ✶ Standard
                        </h3>
                    </div>
                    <ul class="account__list list-reset">
                        <li class="account__list-item">
                            <span class="name">
                                Leverage
                            </span>
                            <span class="value">
                                1:500
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Min. Deposit
                            </span>
                            <span class="value">
                                100$
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Spread type
                            </span>
                            <span class="value">
                                floating
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Spread from
                            </span>
                            <span class="value">
                                1.2 pips
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Commission
                            </span>
                            <span class="value">
                                No
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                SWAPS
                            </span>
                            <span class="value">
                                Yes
                            </span>
                        </li>
                    </ul>
                    <a href="#" target="_blank" class="btn-reset btn-main">
                        Start Trading Now 🤓
                    </a>
                </div>
                <div class="account swap">
                    <div class="account__header">
                        <div class="account__label">
                            Account
                        </div>
                        <h3 class="account__name">
                            ✷ Swap-Free
                        </h3>
                    </div>
                    <ul class="account__list list-reset">
                        <li class="account__list-item">
                            <span class="name">
                                Leverage
                            </span>
                            <span class="value">
                                1:500
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Min. Deposit
                            </span>
                            <span class="value">
                                1000$
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Spread type
                            </span>
                            <span class="value">
                                floating
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Spread from
                            </span>
                            <span class="value">
                                1.5 pips
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Commission
                            </span>
                            <span class="value">
                                No
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                SWAPS
                            </span>
                            <span class="value">
                                ✷ Swap-Free
                            </span>
                        </li>
                    </ul>
                    <a href="#" target="_blank" class="btn-reset btn-main">
                        Start Trading Now 😋
                    </a>
                </div>
                <div class="account zero">
                    <div class="account__header">
                        <div class="account__label">
                            Account
                        </div>
                        <h3 class="account__name">
                            ✸ Zero Spread
                        </h3>
                    </div>
                    <ul class="account__list list-reset">
                        <li class="account__list-item">
                            <span class="name">
                                Leverage
                            </span>
                            <span class="value">
                                1:500
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Min. Deposit
                            </span>
                            <span class="value">
                                1000$
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Spread type
                            </span>
                            <span class="value">
                                fixed
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Spread from
                            </span>
                            <span class="value">
                                0 pips
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Commission
                            </span>
                            <span class="value">
                                From 15$/lot
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                SWAPS
                            </span>
                            <span class="value">
                                Yes
                            </span>
                        </li>
                    </ul>
                    <a href="#" target="_blank" class="btn-reset btn-main">
                        Start Trading Now 😎
                    </a>
                </div>
                <div class="account pro">
                    <div class="account__header">
                        <div class="account__label">
                            Account
                        </div>
                        <h3 class="account__name">
                            ✹ PRO
                        </h3>
                    </div>
                    <ul class="account__list list-reset">
                        <li class="account__list-item">
                            <span class="name">
                                Leverage
                            </span>
                            <span class="value">
                                1:200
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Min. Deposit
                            </span>
                            <span class="value">
                                10,000$
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Spread type
                            </span>
                            <span class="value">
                                floating
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Spread from
                            </span>
                            <span class="value">
                                0.2 pips
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                Commission
                            </span>
                            <span class="value">
                                5$/lot
                            </span>
                        </li>
                        <li class="account__list-item">
                            <span class="name">
                                SWAPS
                            </span>
                            <span class="value">
                                Yes
                            </span>
                        </li>
                    </ul>
                    <a href="#" target="_blank" class="btn-reset btn-main">
                        Start Trading Now 🔥
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section platforms">
    <div class="wrapper">
        <h2 class="title">
            Our Platform
        </h2>
        <div class="platforms__container">
            <div class="platforms__content">
                <h4 class="platforms__title">
                    The one and only - MetaTrader5
                </h4>
                <p class="platforms__text">
                    Multi-award winning best trading platform 
                    for all asset classes available for BelleoFX clients.
                </p>
                <ul class="list-reset list">
                    <li class="list__item">
                        Bespoke data protection
                    </li>
                    <li class="list__item">
                        Full set of MetaTrader 5 trade orders, including pending and stop-orders
                    </li>
                    <li class="list__item">
                        Netting and hedging position accounting systems
                    </li>
                    <li class="list__item">
                        3 chart types and 9 timeframes (periods)
                    </li>
                    <li class="list__item">
                        Advanced Market Depth and One Click Trading
                    </li>
                    <li class="list__item">
                        30 indicators and 24 graphical objects for technical analysis
                    </li>
                    <li class="list__item">
                        Real-time quotes in Market Watch
                    </li>
                </ul>
                <a href="#" target="_blank" class="btn-reset btn-main btn-main--white">
                    Learn more
                </a>
            </div>
            <div class="platforms__images">
                <picture>
                  <source srcset="images/home/platforms/devices.avif" type="image/avif">
                  <source srcset="images/home/platforms/devices.webp" type="image/webp">
                  <img loading="lazy" src="images/home/platforms/devices.png" class="image" width="" height="" alt="images all devices">
                </picture>
            </div>
        </div>
        <h3 class="subtitle">
            Wanna try?
        </h3>
        <div class="platforms__downloads">
            <a href="#" download class="device">
                <div class="device__icon">
                    <svg class="icon">
                      <use xlink:href="images/sprite.svg#android"></use>
                    </svg>
                </div>
                <div class="device__info">
                    <span class="device__title">
                        Download on
                    </span>
                    <span class="device__name">
                        Android
                    </span>
                </div>
            </a>
            <a href="#" download class="device">
                <div class="device__icon">
                    <svg class="icon">
                      <use xlink:href="images/sprite.svg#iphone"></use>
                    </svg>
                </div>
                <div class="device__info">
                    <span class="device__title">
                        Download on
                    </span>
                    <span class="device__name">
                        Iphone
                    </span>
                </div>
            </a>
            <a href="#" download class="device">
                <div class="device__icon">
                    <svg class="icon">
                      <use xlink:href="images/sprite.svg#windows"></use>
                    </svg>
                </div>
                <div class="device__info">
                    <span class="device__title">
                        Download on
                    </span>
                    <span class="device__name">
                        Windows Desktop
                    </span>
                </div>
            </a>
            <a href="#" download class="device">
                <div class="device__icon">
                    <svg class="icon">
                      <use xlink:href="images/sprite.svg#macos"></use>
                    </svg>
                </div>
                <div class="device__info">
                    <span class="device__title">
                        Download on
                    </span>
                    <span class="device__name">
                        Mac OS
                    </span>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="section demo">
    <div class="wrapper">
        <div class="demo__container">
            <h2 class="title">
                Try demo trading
            </h2>
            <p class="text">
                Not sure how to start? We’ve got you!<br> 
                Start practicing trading with virtual funds<br>
                on the  BelleoFX demo trading account.<br>
            </p>
            <a href="#" target="_blank" class="btn-reset btn-main">
                Get Demo Account 🔥
            </a>
        </div>
    </div>
</section>
<section class="section steps">
    <div class="wrapper">
        <h2 class="title">
            Start trading today in 3 easy steps!
        </h2>
        <div class="steps__container">
            <div class="step">
                <div class="step__number">
                    1
                </div>
                <div class="step__text">
                    <div class="step__name">
                        Register 👏
                    </div>
                    <div class="step__descript">
                        Fill the simple 
                        registration form
                    </div>
                </div>
            </div>
            <div class="step step--dashed">
                <div class="step__number">
                    2
                </div>
                <div class="step__text">
                    <div class="step__name">
                        Verify ✅
                    </div>
                    <div class="step__descript">
                        Upload your 
                        ID documents
                    </div>
                </div>
            </div>
            <div class="step">
                <div class="step__number">
                    3
                </div>
                <div class="step__text">
                    <div class="step__name">
                        Fund and trade 👌 
                    </div>
                    <div class="step__descript">
                        Once approved fund 
                        your account and trade
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section tips">
    <div class="wrapper">
        <div class="tips__container">
            <h2 class="title">
                Quick <span class="accent">Tips & Tricks</span>
            </h2>
            <ul class="tricks list-reset">
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            Will you teach me how to trade?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        Of course, we provide introductory training for our beloved clients, 
                        as well as daily analysis of the financial markets. You will be 
                        assigned a responsible manager who will be your guide to the world 
                        of online trading.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            What is the minimum deposit required to start?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        The minimum deposit is 100$. Even with such a balance and a trading 
                        leverage of 1:500, you will be able to trade on your Standard trading 
                        account.
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            What spreads do you offer?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        We provide both floating and fixed spread types. As for prices, 
                        you will be pleasantly surprised)
                    </div>
                </li>
                <li class="tricks__item">
                    <div class="tricks__question">
                        <h3 class="tricks__title">
                            Do you guarantee the safety of my funds?
                        </h3>
                    </div>
                    <div class="tricks__answer">
                        BelleoFX takes the safety of client funds very seriously. 
                        For this reason, all client funds are fully segregated from 
                        the company’s own funds and kept in separate bank accounts. 
                        This ensures that client funds cannot be used for any other 
                        purpose.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="section request">
    <div class="wrapper">
        <div class="request__container">
            <h2 class="title">
                Wanna talk? 
                <div class="accent">
                    Request a call back! 
                </div>
            </h2>
            <div class="request__form">
                <form action="#" class="form">
                    <input type="text" name="name" class="form__input" placeholder="Your name" required>
                    <input type="tel" name="phone" class="form__input" placeholder="Phone number +971" required>
                    <button type="submit" class="btn-main btn-main--black form__btn">
                        Call me please
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>