<button type="button" class="btn-reset btn-fixed">
    Quick Enquuiry Now
</button>
<div class="main__large">
    <div class="swiper main-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="main-screen">
                    <div class="wrapper">
                        <div class="main-screen__container">
                            <div class="main-screen__left">
                                <h1 class="title">
                                    Diversify your investment 
                                    <span>portfolio</span>
                                </h1>
                                <p class="text">
                                    Buy stocks of the world's biggest companies, 
                                    invest in cryptocurrencies and many more!
                                </p>
                                <a href="#" class="btn-reset btn-main btn-main--black">
                                    Join Now 🔥
                                </a>
                            </div>
                            <div class="main-screen__right">
                                <picture>
                                  <source srcset="images/home/main-screen/main-slide-1.avif" type="image/avif">
                                  <source srcset="images/home/main-screen/main-slide-1.webp" type="image/webp">
                                  <img loading="lazy" src="images/home/main-screen/main-slide-1.png" class="image" width="" height="" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="main-slider__controls swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="main-screen">
                    <div class="wrapper">
                        <div class="main-screen__container">
                            <div class="main-screen__left">
                                <h1 class="title">
                                    Diversify your investment 
                                    <span>portfolio</span>
                                </h1>
                                <p class="text">
                                    Buy stocks of the world's biggest companies, 
                                    invest in cryptocurrencies and many more!
                                </p>
                                <a href="#" class="btn-reset btn-main btn-main--black">
                                    Join Now 🔥
                                </a>
                            </div>
                            <div class="main-screen__right">
                                <picture>
                                  <source srcset="images/home/main-screen/main-slide-2.avif" type="image/avif">
                                  <source srcset="images/home/main-screen/main-slide-2.webp" type="image/webp">
                                  <img loading="lazy" src="images/home/main-screen/main-slide-2.png" class="image" width="" height="" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="main-slider__controls swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-info">
        <div class="wrapper">
            <div class="main-info__container">
                <div class="item">
                    <div class="item__accent">
                        1:500
                    </div>
                    <div class="item__text">
                        Leverage
                    </div>
                </div>
                <div class="item">
                    <div class="item__accent">
                        250+
                    </div>
                    <div class="item__text">
                        Trading Instruments
                    </div>
                </div>
                <div class="item">
                    <div class="item__accent">
                        0$
                    </div>
                    <div class="item__text">
                        Deposit Fees
                    </div>
                </div>
                <div class="item">
                    <div class="item__accent">
                        <img src="images/icon/manager.svg" alt="icon: Relationship Manager">
                    </div>
                    <div class="item__text">
                        Relationship Manager
                    </div>
                </div>
                <div class="item">
                    <div class="item__accent">
                        <img src="images/icon/licensed.svg" alt="icon: Licensed & Regulated">
                    </div>
                    <div class="item__text">
                        Licensed & Regulated
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section available">
        <div class="wrapper">
            <div class="available__container">
                <div class="available__images">
                    <picture>
                      <source srcset="images/home/available/large-phone-labels.avif" type="image/avif">
                      <source srcset="images/home/available/large-phone-labels.webp" type="image/webp">
                      <img loading="lazy" src="images/home/available/large-phone-labels.png" class="image" width="" height="" alt="">
                    </picture>
                </div>
                <div class="available__content">
                    <h2 class="title">
                        Stay Mobile
                    </h2>
                    <p class="text">
                        Financial markets are easy. 
                        You can always quickly open or 
                        close your trading orders using 
                        your mobile phone.
                    </p>
                    <p class="text">
                        Available on <span class="accent">iOS</span> and <span class="accent">Android</span>
                    </p>
                    <ul class="list-reset list-check">
                        <li class="list-check__item">
                            Trade 280+ instruments
                        </li>
                        <li class="list-check__item">
                            Multi-asset classes
                        </li>
                        <li class="list-check__item">
                            Variety of payment methods
                        </li>
                        <li class="list-check__item">
                            Chat with support
                        </li>
                    </ul>
                    <a href="#" class="btn-reset btn-main">
                        Join Now 🔥
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>