@media (max-width: 1920px) {
    .footer {
        padding: 41px 0;
    
        .nav {
            ul {
                gap: 30px;
    
                li {
                    a {
                        font-size: 18px;
                    }
                }
            }
        }
    
        .copyright {
            font-size: 18px;
        }
    }
    .scroll-top {
        width: 88px;
        height: 88px;
        bottom: 100px;
    }
}

@include big-desktop {
    .footer {
        padding: 30px 0;
    
        .nav {
            ul {
                li {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    
        .copyright {
            font-size: 16px;
        }
    }
    .scroll-top {
        width: 70px;
        height: 70px;
        bottom: 80px;
        right: 0px;
    }
}

@include small-desktop {
    .footer {
        &__container {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
        .nav {
            ul {
                gap: 20px;
    
                li {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    
        .copyright {
            font-size: 14px;
        }
    }
    .scroll-top {
        bottom: 110px;
        right: 10px;
    }
}

@include small-tablet {
    .footer {
        .nav {
            margin-bottom: 30px;

            ul {
                justify-content: center;
                flex-wrap: wrap;
                gap: 16px 40px;
            }
        }
    }
    .scroll-top {
        bottom: 20px;
        right: 20px;
    }
}

@include mobile {
    .footer {
        .nav {
            ul {
                gap: 20px;
            }
        }
    }
    .scroll-top {
        bottom: 20px;
    }
}

@media (max-width: 428px) {
    .scroll-top {
        right: 10px;
        bottom: 10px;
        width: 50px;
        height: 50px;
        
        .icon {
            width: 14px;
        }
    }
}